<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Html Form</title>
</head>
<body>
    <center>
<!--         
        <h1>Basic Html Form</h1>
            

        <form action="" method="POST">
            {% csrf_token %}
            <label for="un">UserName : </label>
            <input type="text" name="un" id="un"><br><br>
            <label for="pw">Password</label>
            <input type="password" name="pw" id="pw"><br><br>
            <input type="submit"> -->

        <!-- 3 steps 
            1.POST method will get activated
            2.same url name is called to the name='url' and function
            3.data is wrapping up into dictionary

        -->
        '''
        <h1>School Deatails </h1>

        <form action="" method="POST">
            {% csrf_token %}
            <label for="sc">Insert_schoolName : </label>
            <input type="text" name="sc" id="sc"><br><br>
            
            <label for="sp">SchoolPrincipal name: </label>
            <input type="text" name="sp" id="sp"><br><br>
            
            <label for="sl">SchoolLoaction</label>
            <input type="text" name="sl" id="sl"><br><br>

            <input type="submit">
        </form>
    </center>
</body>
</html>